@model CatalogoPeliculasEquipo.Models.Pelicula;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{ ViewData["Title"] = "Eliminar";
    Layout = "_LayoutAdmin"; }

<section class="botonEsquina">
    <a id="botonRegresar" href="~/Admin/Peliculas">
        ↩
    </a>
</section>
<div id="crudM" style=" display: block; width: 50%; margin: auto; left: 20%; position: relative;">
    <div id="crudImg" style="top: 15%; width: 100%; display: block; position: absolute;">
        @if (System.IO.File.Exists($"{env.WebRootPath}/imgs_peliculas/{Model.Id}_peli.jpg"))
        {
<img style="color:white" id="imagePreview" src="~/imgs_peliculas/@(Model.Id)_peli.jpg" alt="Vista previa de la imagen"> }
else
{
<img style="color:white" id="imagePreview" src="~/imgs/nophoto2.jpg" alt="Vista previa de la imagen">}
    </div>
    <p style="width: 100%; text-align: center; font-size: larger; display: block; position: absolute;">¿Seguro de eliminar la película @(Model.Nombre)?</p>
    <p>
        @Html.ValidationSummary()
    </p>
    <form method="post" asp-area="Admin" asp-controller="Peliculas" asp-action="Eliminar">
        <input asp-for="Nombre" value="@(Model.Nombre)" hidden />
        <input asp-for="Id" value="@(Model.Id)" hidden />
        <input style="width:100%" type="submit" value="Eliminar">
    </form>

</div>


<br class="clear" />

