
@{
    ViewData["Title"] = "AcercaDe";
    Layout = "_Layout";
}
<h1 id="quesomos">
    ¿Qué es MovieStar?
</h1>
<div id="acercadeInfo">
<iframe id="videoNetflix" src="https://www.youtube.com/embed/W0gAYCgKJtk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p id="infoNetflix">
    MovieStar es un servicio de streaming online a través del cual podemos acceder a una cantidad ilimitada de contenido audiovisual de cine y televisión, claro está que para ello debemos abonar la suscripción al servicio, pero lo cierto es que no se trata de una cuota tan costosa, cuando evaluamos todo el contenido disponible que tendremos.

    Lo cierto es que el catálogo que ofrece actualmente MovieStar es muy amplio, y en él podemos encontrar contenido para todos los gustos y para todas las edades, y a través del servicio no sólo podemos ver películas y series, sino que también nos ofrece títulos de documentales, programas de televisión, conciertos y demás.

    Además MovieStar cuenta con la posibilidad de configurar dentro de una misma cuenta diferentes perfiles, por lo que incluye un modo Kids para ser utilizado por los más pequeños de la familia, ya que de esta forma se filtra el contenido disponibles de acuerdo a las edades de los espectadores.
</p>
</div>

